
/*seletor universal tire todos os valores de pading , margin */
*{

    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{

    font-family: "Roboto", sans-serif;
    line-height: 1.6;
    background-image: url(../img/programacion.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
}
/*Cabezado*/
header{

    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20vh;
    background-color: #2c2d34;
    box-shadow: 0px 1px 1px 0px #f2910a;
}

.logo{

    width: 40%;
    border-radius: 50%;
    margin-left: 1rem;
    cursor: pointer;
    box-shadow: 0 2px 1px 0 #efd510;
}

.logo:hover{

    margin-left: 0.7rem;
}

nav ul li{

    display: inline;
}

/*bloco pessoal se fiz posicionamento*/
#Sobre-Mi{

    display: flex;
    justify-content: center;
    width: 100%;
}

.about{

    display: flex;
    width: 60%;
    margin-top: 2rem;
}

.nome{

    font-size: 2rem;
    text-align: left;
    margin-left: 0.5rem;
}

/*largura, borda , sombreado e margin da imagen pessoal*/
#Sobre-Mi img{

    width: 40%;
    height: 40%;
    border-radius: 40%;
    box-shadow: 0 2px 3px 0 #efd510;
}

/*posicionamento dos conteudo do bloco desenvolvimento*/
#Desenvolvimento{

    display: flex;
    padding: 20px;
/* background-color: #e94822;*/
    margin: 10px 0 0 0;
}

#Contato{

    display: flex;
    justify-content: center;
    flex-flow: column;
}

.contacto-group{

    width: 100%;
    margin-top: 20px;
    padding: 0 20%;
 }

 .formulario{
   width: 50%;
   float: right;
   background-color: #2c2d34;
   border-radius: 5%;
   box-shadow: 0 1px 1px 0 #efd510;
 }

 .form-contacto{
     width: 80%;
     padding: 0.5rem;
     margin: 0.6rem 0.5rem;
     display: block;
     outline: 0;
     font-size: 16px;

     border-radius: 5px;
     border:1.5px solid #c7c7c7;
 }

 .btn-enviar{

    display: block;
    font-size: 1rem;
    text-transform: uppercase;
    background-color: #e94822;
    color: #ffff;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1.5rem;
    margin: 0.5rem 0.6rem;
    cursor: pointer;
    transition: all 0.5s ease;
 }

.btn-enviar:hover{

    background-color: #b82c0c;
}


/*largura da foto programação e borda redonda*/
.img-programar{

    width: 30%;
    border-radius: 15px;
}
/*largura do bloco de desenvolvimento*/
.Desenvolvimento{

    width: 60%;
}

/*cor dos link de navegação*/
.enlace-nav{

    color: #efd510;
    margin:25px 15px 10px 10px ;
}

/*propiedade para animaçoes nos link ao passar o mouse*/
.enlace-nav:hover{

    background-color: #efd510;
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
    color: #2c2d34;
}
/*tirar o decoração dos link*/
a{

    text-decoration: none;
}

.content{
    display: flex;
}

/*tamanho de largura e altura e margin*/
main{

    width: 75%;
    height: auto;
    margin: 10px;
}
/*propiedades para posicionar o inside de forma de columna*/
inside{

    display: flex;
    flex-direction: column;
    /*background-color: #efd510;*/
    margin-top: 10px;
    padding: 0 5px 0 5px;
    width: 25%;
    border: solid 2px #efd510;
    justify-content: space-around;
}
/*propiedades alinção , centralizado e tirar o stile da lista*/
inside ul li{

    list-style: none;
    text-align: center;
    align-items: center;

}


.certificado{

    cursor: pointer;
}

.certificado:hover{

    width: 80% ;
}
/*margin no bloco de contato*/
#Contato{

    margin:5px 15px 0px 15px;
}
/* cor no resto do title principal*/
h1{

    color: azure;
    font-size: 2rem;
}

/*cor e margin no title principal da tag spam*/
.title{

    color:#efd510;
    margin: 10px;
    font-size: 1rem;
}
/*cor , tamanho e alinção no sub-titulo dos conteudos*/

h2{
font-size: 30px;
color: #efd510;
text-align: center;

}

/*cor no sub-titulo Principal*/
.sub-title{

    color:azure;
}

/*margin na propiedades Sobre-mi*/
.Sobre-Mi{

margin-top: 40px;

}

/*paragrafo do conteudo*/
p{

    padding: 15px;
    font-size: 15px;
    border-radius: 10px;
    margin-left: 5px;
    color:#efd510;
    background-color: #2c2d34;
}

.redes-sociais h3{

    margin-top: 10px;
}
/*cor e centralizado nos sub-title h3*/
h3{
    color: #efd510;
    text-align: center;
    font-size: 20px;
}
/*margin nas lista dos contato*/
.redes-sociais ul li{

    margin-top: 5px;
}
/*cor no link do contato*/
.redes-sociais ul li a{

    color: #e94822;
}

#icone{

    color: #efd510;
}
/*cor nas legendas das imagenes experiencia professional */
figcaption{

    color:#efd510;
}

.redes-sociais ul li a:hover{

color: azure;
}


/*propiedade a pé de pagina fondo, posicionamneto, altura , cemtralizado*/
footer{

    background-color: #2c2d34;
    height: 7vh;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
/*cor a titulo de pé de pagina*/
h4{

    color: #efd510;
}







